*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#navbar{
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    right:0;
}

/* Home Page */
#hero{
    background-image: url("/assets/images/background/black-women-green-suit.jpg");
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    background-size: 100% 100%;
    background-position: top 10% right 0;
    padding:0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

#hero h4{
    padding-bottom: 15px;

}

#hero h1{
    color: #7b8f4b

}

.btn{
    background-color: #90a84d; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;

}

.btn:hover{
    background-color: #abbf73; 
    color: rgb(22, 12, 12);
}

/* Features section*/

.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
#featured {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#featured .feat-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    margin: 15px 0;
}

#featured .feat-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#featured .feat-box img{
    width: 100%;
    margin-bottom: 10px;
}

#featured .feat-box h6{
    display: inline-block;
    padding: 9px 8px;
    line-height: 6px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#product1{
    text-align: center;

}
#product1 .prod-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .prod{
    width:23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 10px;
    cursor: pointer;
    background: #f7f4e7;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
    margin: 15px 0;
    position: relative;
}

#product1 .prod img{
    width:100%;
    border-radius: 10px;
    padding: 10px;
    transition: transform .2s; /* Animation */
}

#product1 .prod img:hover{
    transform: scale(1.5);
}

#product1 .prod .desc{
    text-align: start;
    padding: 10px 0;
}

#product1 .prod .desc span{
    color: #717744;
    font-weight: bold;
}

#product1 .prod .desc h5{
    padding-top:5px;
    color:rgb(22, 12, 12);
    font-size: 18px;
}

#product1 .prod .desc h4{
    padding-top: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #6c584c;
}

#product1 .prod .cart{
    width: 40px;
    height:40px;
    list-style: 40px;
    border-radius: 50px;
    background-color: #f0ead2;
    color: #6c584c;
    padding-top: 10px;
    border: 1px solid  #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
    
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/assets/images/banner/spring.jpg");
    color: rgb(12, 10, 10);
    width: 100%;
    height: 40vh;
    background-size: cover;
}